<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

{{if not .CurrentUser}}
    <a href="/login/">Login</a><br>
{{else}}
    Здравствуйте, {{.CurrentUser.Name}}
    <a href="/logout/">Logout</a><br>
{{end}}

{{ .UserProfile.User.Name }}<br>

{{if .CanWrite}}
<form action="/addPost/" method="post">
    <p><textarea rows="4" cols="45" name="text" placeholder="Новый пост"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>
{{end}}

{{range .UserProfile.Posts}}
    {{.ID}}
    {{.Text}}<br>
{{end}}
</body>
</html>

